@keyframes rotate {
    0% {
        transform: perspective(2000px) rotateY(0deg)
    }

    100% {
        transform: perspective(2000px) rotateY(360deg);
    }
}

@keyframes rotate-hover {
    0% {
        transform: perspective(2000px) rotateY(0deg)
    }

    100% {
        transform: perspective(2000px) rotateY(0deg);
    }
}



@media (max-width:549px) {
    .slider-div-skill {
        position: absolute;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i)*22deg)) translateZ(200px) ;
    }

    .container-skill {
        margin-bottom: 0;
    }

    .slider-skill {
        position: relative;
        height: 400px;
        transform-style: preserve-3d;
        animation: rotate 30s linear infinite;
        margin-top: -70px;
        margin-bottom: -100px
    }
}

@media (min-width: 550px) {
    .slider {
        position: relative;
        height: 400px;
        transform-style: preserve-3d;
        animation: rotate calc((var(--e)*6s)) linear infinite;
        animation-play-state: var(--deg);
    }

  

    .slider-div {
        position: absolute;
        transform-origin: center;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--i)*120deg)) translateZ(200px);
    }

}